body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-width: 270px;
  padding: 0.3rem 2rem 1rem;
  background-color: #171a1f;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202227;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  border: none;
  font-weight: bold;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #313339;
}

.options {
  margin-bottom: 0.5rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313339;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ff00;
}

input:focus + .slider {
  box-shadow: 0 0 0 4px rgba(0, 255, 0, 0.3);
  outline: none;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
